/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.anki-settings-table td,
.anki-settings-table th {
    border: 1px solid var(--background-modifier-border);
    padding: 4px 10px;
}

/* .anki-settings-table { */
/* 	border-collapse: collapse; */
/* 	display: none; */
/* } */

input.error,
textarea.error,
select.error {
    border: 1px solid var(--text-error) !important;
}

input.warning,
textarea.warning,
select.warning {
    border: 1px solid var(--text-warning) !important;
}

div.error,
input.error,
textarea.error {
    color: var(--text-error) !important;
}

div.warning,
input.warning,
textarea.warning {
    color: var(--text-warning) !important;
}

.enabled-button {
    color: var(--interactive-accent) !important;
}
.enabled-rule {
    color: var(--text-muted);
}

/* Settings menu with indented sections */
.setting-item.hidden {
    display: none;
}

.setting-item.setting-item-heading .obsidi-anki-settings-icon {
    margin-right: var(--size-4-2);
    display: inline-flex;
}

.setting-item.setting-item-heading:has(.obsidi-anki-settings-icon) {
    border-bottom: 1px solid var(--background-modifier-border);
}

.setting-item.setting-item-heading:has(.obsidi-anki-settings-icon)
    + .setting-item {
    border-top: none;
}

.setting-item.setting-item-heading:has(.obsidi-anki-settings-icon)
    ~ .setting-item:not(.setting-item-heading),
.obsidi-anki-snippet-variables-setting + .setting-item-control {
    width: calc(100% - 26px);
    margin-left: 26px;
}

/* Documentation button */
.obsidi-anki-docs-icon {
    color: var(--interactive-accent);
}

/* Text area errors */
.text-area-warning,
.text-area-error {
    padding: 4px 8px;
}

/* Nicer looking links */
a.external-url {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    text-decoration: none;
    text-align: center !important;
}

.setting-item > *:first-child {
    margin-inline-end: var(--size-4-4);
}

.anki-capture-list-item {
    position: relative;
    padding-left: 1.5em; /* indent the whole block */
}

.anki-capture-list-item::before {
    content: '*';
    position: absolute;
    left: 0;
    font-size: 1em;
    color: var(--text-muted); /* optional for subtlety */
}

.after-section-settings .setting-item {
    margin-left: 1.5em;
}
